.img-wrapper {
	width:200px;
}

.img-wrapper img {
	width:100%;
}

img {
	display:inline;
}

.lodpi-indicator {
	display:block;
}

.hidpi-indicator {
	display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio : 2),
       only screen and (min-device-pixel-ratio : 2) {
	
	.lodpi-indicator {
		display:none;
	}
	
	.hidpi-indicator {
		display:block;
	}
}

